* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #A8D8EA;
}

h5 {
    color: black;
}

#body-container{
    background-color: #95DAC1;
    padding: 20px;
    margin: 25px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 0 10px 2px grey;
}

/* *************
** error
************* */

#error-msg {
    text-align: center;
    padding-top: 20px;
}


/* *************
** HEADING
************* */

h1 {
    text-align: center;
    margin: 40px auto;
    
}

/* *************
** Question
************* */
#question {
width: 70%;
padding: 30px;
box-shadow: 0 0 10px 1px whitesmoke;
border: 3px solid white;
border-radius: 20px;
background-color: #AA96DA;
margin: 10px auto;
font-size: 30px;
text-align: center;
margin-bottom: 23px;
}

/* *************
** ANSWERS
************* */

#answer {
    width: 85%;
    border-radius: 20px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#answer ul {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

#answer ul li {
    width: 40vh;
    height: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px seashell;
    background-color: pink;
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    cursor: pointer;
}

#answer li:hover{
    transform: scale(1.1);
}

/* *************
** ScoreBoard
************* */

#scores {
    display: flex;
    width: 70%;
    justify-content:center;
    margin: 10px auto;
}

#player-1, #player-2 {
    width: 80wh;
    border-radius: 20px;
    background-color:#FFFFD2;
    box-shadow: 0 0 7px 2px whitesmoke;
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    margin: 20px;
    color:  #AA96DA;
}

/* *************
** Button
************* */
#restart-btn {
    text-align: center;
}

#restart {
    width: 20vh;
    margin: 20px;
    font-weight: bolder;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}

@media (max-width: 500px){

    body {
        width: 100%;
    }

    #question {
        width: 80%;
    }

    #answer {
        display: flex;
    }

    #answer ul {
        display: flex;
        flex-direction: column;
        align-content: center;

    }

    #answer ul li{
        width: 100%;
    }

    #scores {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #player-1, #player-2 {
        width: 50%;
    }

    #restart {
        width: 30%;
        text-align: center;
    }
}